/*==== resizer ====*/
	.tx-resize-bar {cursor:row-resize;text-align:center;font-size:0;line-height:0px;height:16px;}
	.tx-resize-bar img {position:relative;top:-6px; -moz-user-select:none; -khtml-user-select:none; }
	.tx-resize-bar img { cursor:row-resize; margin:0 auto;}
	
	.tx-resize-bar div.tx-resize-bar-bg {background-color:#f9f9f9;font-size:0;line-height:0px;height:4px;border:1px solid #cdcdcd;border-top:1px solid #eee; }
	* html .tx-resize-bar div.tx-resize-bar-bg {height:6px;}

/*==== blackbox ====*/
	.tx-blackbox{
		position:absolute;
		display:none;
		z-index: 500;
	}
	.tx-blackbox .tx-blackbox-panel{
		position:absolute;
		top:0;
		left:0;
		background-color:#000;
		opacity:0.3;
		filter:alpha(opacity=30);
	}
	.tx-blackbox .tx-content{
		background-color:#fff;
		margin:0;
		position:absolute;
	}

/*==== noticebox ====*/
	.tx-canvas-notice{ width:100%; height:100%; z-index:200000; position:absolute; color:#000000;font-size:15px;}
	.tx-canvas-notice span{ vertical-align:middle;margin-top:150px;  }
	.tx-canvas-notice a{ text-decoration:underline; margin-top:150px; cursor: pointer}
	
	.tx-noticebox {
		text-indent:10px; 
		font-size:0;
		width:315px; height:130px; 
	}
	.tx-noticebox dl { 
		background:#f4f2f9; font-family:dotum,verdana,sans-serif; font-size:11px;
		border:1px solid #cfd3e5; margin:0 auto;
		padding:10px 5px 5px 5px;
	}
	.tx-noticebox dt { 
		margin:0; padding:0;
		background:#f4f2f9; height:20px;
		font:bold 12px dotum;
		color: #7b81dc;
	}
	.tx-noticebox dt span {float:left;}
	.tx-noticebox dt a {
		width:14px; height:13px; float:right; text-indent:-100em;
		background:url(../../../images/icon/editor/btn_a_close.gif?v=2) no-repeat left top;
	}
	.tx-noticebox dd {
		margin:0; padding:10px 10px 0 10px;
		background: #fff;
		height: 110px;
		font-size: 11px;
		color: #4d4d4d;
	}
	.tx-noticebox dd p {
		text-indent:0;
		margin: 0 10px;
		padding: 10px 0;
	}
	.tx-noticebox dd div {
		border-top: 1px solid #f1f1f1;
		margin: 0;
		text-align: center;
		padding: 10px 0 0 0;
	}
	.tx-noticebox dd div a {
		text-indent: 0;
	}
	.tx-noticebox .box-back {
		width:100%; height:100%;
	}